<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mozu.mozuandroidinstoreassistant.app" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="com.mozu.mozuandroidinstoreassistant.MozuApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".ChooseTenantAndSiteActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.Mozu.NoActionBar"
            android:launchMode="singleInstance">
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.Mozu.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateVisible"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.crashlytics.ApiKey"
            android:value="08ea2133df628f5114adfd1e1cbb80584923ca9a" />

        <activity
            android:name=".ProductDetailActivity"
            android:label="@string/title_activity_product_detail"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mozu.mozuandroidinstoreassistant.app.MainActivity" />
        </activity>
        <activity
            android:name=".ImagePagerActivity"
            android:label="@string/title_activity_image_list"
            android:theme="@style/Transparent"
            android:launchMode="singleInstance">
        </activity>
    </application>

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

</manifest>
